@use '../utility/variables' as v;
@use '../utility/functions' as f;
@use '../utility/mixins' as m;

.hero {
    background-color: v.$color-3;
    background-image: linear-gradient(v.$color-3, v.$color-3),url("../../../src/img/hero-bg-sm.png");
    background-size: 100%; 
    padding-top: calc(6rem + 40px);
    padding-bottom: 6rem;

    @include m.breakpoint(small) {
        background-image: linear-gradient(v.$color-3, v.$color-3),url("../../../src/img/hero-bg-md.png");
    }

    @include m.breakpoint(medium) {
        background-image: linear-gradient(v.$color-3, v.$color-3),url("../../../src/img/hero-bg.png");
    }

    @include m.breakpoint(xlarge) {
        background-size: 80%;
    }

    @include m.breakpoint(xxlarge) {
        background-size: 70%;
    }

    &__container {
        color: white;
    }
    &__img,
    &__title {
        display: block;
    }
    &__img {
        width: 80%;
        max-width: f.em(400);
        margin: 0 auto;
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        float: none;
    }
    &__title,
    &__statement  {
        text-align: center;
        background-color: v.$color-3;
    }

    &__statement {
        line-height: 1.2;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 7vw;
            right: 7vw;
            height: 2px;
            background: white;
            z-index: 12;
        }
    }
    
}