@use '../utility/variables' as v;
@use '../utility/mixins' as m;
@use '../utility/functions' as f;

.nav{
    &__btn {
        border: none;
    }
}
#container {
    @include m.breakpoint-down(small) {
        max-width: 90vw;
    }
}

.card {
    &__body {
        background-color: v.$color-5;
    }

    &__link {
        color: v.$color-4;
    }

    &__border {
        border: 2px solid v.$color-5;
        border-radius: 6px;
    }
}

.about {
    &__text {
        max-width: f.em(550);
    }
}

.design {
    & picture {
        max-width: 360px;
    }
    & img {
        cursor: pointer;
    }
}

.illustration {
    & picture {
        max-width: 375px;
    }
    & img {
        cursor: pointer;
        
    }
    &__btn {
        background-color: v.$color-5;
    }
}

.footer{
    &__logo {
        width: f.rem(80);
    }
    &__link {
        display: inline-block;
        padding-inline: 1rem;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
        @include m.breakpoint(medium) {
            padding-inline: 1.7rem;
        }
    }
}

.modal {

    &__landscape {
        @include m.breakpoint(medium) {
            max-width: f.em(650);
        }
        @include m.breakpoint(xlarge) {
            max-width: f.em(750);
        }
    }

    &__pic {
        max-width: 100%;
    }

    &__img {
        max-width: 100%;
    }
    // &__max-width {
    //     max-width: 270px;
    // }
}