@use '../utility/variables' as v;
@use '../utility/mixins' as m;
@use '../utility/functions' as f;


#container {
    @include m.breakpoint-down(small) {
        max-width: 90vw;
    }
}

.card {
    &__body {
        background-color: v.$color-5;
    }

    &__link {
        color: v.$color-4;
    }

    &__border {
        border: 2px solid v.$color-5;
        border-radius: 6px;
    }
}

.illustration {
    &__btn {
        background-color: v.$color-5;
    }
}

.footer{
    &__logo {
        width: f.rem(80);
    }
}