@use '../utility/variables' as v;
@use '../utility/mixins' as m;
@use '../utility/functions' as f;

.nav__btn {
    border: none;
}

#container {
    @include m.breakpoint-down(small) {
        max-width: 90vw;
    }
}

.card {
    &__body {
        background-color: v.$color-5;
    }

    &__link {
        color: v.$color-4;
    }

    &__border {
        border: 2px solid v.$color-5;
        border-radius: 6px;
    }
}

.about {
    &__text {
        max-width: f.em(500);
    }
}

// .design {
//     &__btn {
//         background-color: v.$color-4;
//     }
// }

.illustration {
    &__btn {
        background-color: v.$color-5;
    }
}

.footer{
    &__logo {
        width: f.rem(80);
    }
    &__link {
        display: inline-block;
        padding-inline: 1rem;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
        @include m.breakpoint(medium) {
            padding-inline: 1.7rem;
        }
    }
}